<section>
  <section class="row">
    <!-- só um place holder-->
    lorem ipsum sit doler amet
    <img src="algo" alt="algo">
    <a href="#"></a>
  </section>
  <section class="row">
    lorem ipsum sit doler amet
    <img src="algo" alt="algo">
    <a href="#"></a>
  </section>
  <section class="row">
    lorem ipsum sit doler amet
    <img src="algo" alt="algo">
    <a href="#"></a>
  </section>
  <section class="row">
    lorem ipsum sit doler amet
    <img src="algo" alt="algo">
    <a href="#"></a>
  </section>
  <section class="row">
    lorem ipsum sit doler amet
    <img src="algo" alt="algo">
    <a href="#"></a>
  </section>
  <section class="row">
    lorem ipsum sit doler amet
    <img src="algo" alt="algo">
    <a href="#"></a>
  </section>
  <section class="row">
    lorem ipsum sit doler amet
    <img src="algo" alt="algo">
    <a href="#"></a>
  </section>
</section>
