@import '../../stylesheets/colors.less';

#side-nav-content {
  overflow: auto;
  height: 100%;
  margin: 0;
  padding: 0;
}

#side-nav-content,
a.collection-item {
  color: @black;
  background-color: @white;
}

#side-nav-content .active {
  color: @dark-blue;
  background-color: @light-brown;
}
