<section id="home" class="center-align">
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
</section>
