<p>
  home works!
</p>
<div id="home">
  <section class="row">
    <section class="brown-border section-box">
      gráfico de salario bruto
    </section>
    <section class="brown-border section-box">
      gráfico de salario por cargo
    </section>
    <section class="brown-border section-box">
      gráfico de diferenca entre salario liquido e bruto
    </section>
    <section class="brown-border section-box">
      gráfico de descontos
    </section>
    <section class="brown-border section-box">
      gráfico sobre ganhos acima do teto
    </section>
  </section>
</div>
