<div class="col s12 m4 l3">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{ data.imagem }}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">
        {{ data.cardTitle }}
        <i class="material-icons right">more_vert</i>
      </span>
      <p>
        <a routerLink="{{ data.linkAddress }}">{{ data.linkTitle }}</a>
      </p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">
        {{ data.cardTitle }}
        <i class="material-icons right">close</i>
      </span>
      <p>{{ data.cardInfo }}</p>
    </div>
  </div>
</div>
